@charset "UTF-8";
@font-face {
  font-family: 'georgia';
  src: url("../fonts/georgia.eot");
  src: local("☺"), url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.ttf") format("truetype"), url("../fonts/georgia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'georgia italic';
  src: url("../fonts/georgiai.eot");
  src: local("☺"), url("../fonts/georgiai.woff") format("woff"), url("../fonts/georgiai.ttf") format("truetype"), url("../fonts/georgiai.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'georgia bold';
  src: url("../fonts/georgiab.eot");
  src: local("☺"), url("../fonts/georgiab.woff") format("woff"), url("../fonts/georgiab.ttf") format("truetype"), url("../fonts/georgiab.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.3rem;
  font-family: georgia;
  color: #999999;
}

a {
  color: #999999;
}

/* ============= header styles begin ============ */
.header,
.main {
  max-width: 1200px;
  padding: 0 20px;
  background-color: #313131;
  margin: 0 auto;
}

.header__container {
  max-width: 1160px;
  background-color: #ffffff;
  padding: 0 20px;
  border-top: #a7c353 solid 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 30%;
  padding: 30px 0;
  color: #666666;
}

.logo .logo__description {
  font-size: 2.6rem;
  line-height: 60%;
}

.logo .logo__description .logo__description--large {
  font-size: 3.2rem;
}

.logo .logo__slogan {
  font-size: 1.2rem;
  line-height: 150%;
  color: #999999;
}

.navigation {
  width: 70%;
}

.navigation .navigation__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .navigation__list:first-child {
  padding-left: 20px;
}

.navigation .navigation__list .navigation__list-item {
  height: inherit;
}

.navigation__link {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  position: relative;
}

.navigation__link:hover {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
  font-size: 1.5rem;
  color: #666666;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.navigation__link--active {
  color: #ffffff;
  background-color: #a7c353;
}

.navigation__link--active:hover {
  -webkit-transform: none;
          transform: none;
  font-size: 1.3rem;
  color: #ffffff;
}

/* ============ main section begins =============*/
.main__container {
  max-width: 1160px;
  background-color: #ffffff;
  padding: 0 20px;
}

.slider {
  max-width: 1120px;
  border-top: #a7c353 solid 1px;
}

.slider__header {
  font-size: 2.2rem;
  font-family: 'georgia italic';
  padding: 45px 105px;
  text-align: center;
  line-height: 150%;
  color: #666666;
}

.slider__kaleidoscope {
  max-width: 920px;
  margin: 0 auto;
}

.slick-arrow {
  z-index: 1;
}

.slick-arrow::before {
  background-color: #a7c353;
  color: #000000;
  border-top: #a7c353 solid 7px;
  border-left: #a7c353 solid 2px;
  border-right: #a7c353 solid 2px;
  font-size: 50px;
  border-radius: 30px;
}
/*# sourceMappingURL=style.css.map */