@font-face {
	font-family: 'georgia';
	src: url('../fonts/georgia.eot');
	src: local('☺'), url('../fonts/georgia.woff') format('woff'), url('../fonts/georgia.ttf') format('truetype'),
		url('../fonts/georgia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'georgia italic';
	src: url('../fonts/georgiai.eot');
	src: local('☺'), url('../fonts/georgiai.woff') format('woff'), url('../fonts/georgiai.ttf') format('truetype'),
		url('../fonts/georgiai.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'georgia bold';
	src: url('../fonts/georgiab.eot');
	src: local('☺'), url('../fonts/georgiab.woff') format('woff'), url('../fonts/georgiab.ttf') format('truetype'),
		url('../fonts/georgiab.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$white: #ffffff;
$green: #a7c353;
$grey: #666666;
$lightGrey: #999999;
$veryLightGrey: #d4d4d4;
$footerDarkGrey: #313131;
$footerLightGrey: #383838;
$black: #000000;

html {
	font-size: 10px;
}

body {
	font-size: 1.3rem;
	font-family: georgia;
	color: $lightGrey;
}

a {
	color: #999999;
}

// header styles
// ========================================

.header {
	max-width: 1200px;
	padding: 0 20px;
	background-color: $footerDarkGrey;
	margin: 0 auto;
}

.header__container {
	max-width: 1160px;
	background-color: $white;
	padding: 0 20px;
	border-top: $green solid 5px;
	display: flex;
}

.logo {
	width: 30%;
	padding: 30px 0;
	color: $grey;
	.logo__description {
		font-size: 2.6rem;
		line-height: 60%;
		.logo__description--large {
			font-size: 3.2rem;
		}
	}
	.logo__slogan {
		font-size: 1.2rem;
		line-height: 150%;
		color: $lightGrey;
	}
}

.navigation {
	width: 70%;
	.navigation__list {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:first-child {
			padding-left: 20px;
		}
	}
}
