@font-face {
	font-family: 'georgia';
	src: url('../fonts/georgia.eot');
	src: local('☺'), url('../fonts/georgia.woff') format('woff'), url('../fonts/georgia.ttf') format('truetype'),
		url('../fonts/georgia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'georgia italic';
	src: url('../fonts/georgiai.eot');
	src: local('☺'), url('../fonts/georgiai.woff') format('woff'), url('../fonts/georgiai.ttf') format('truetype'),
		url('../fonts/georgiai.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'georgia bold';
	src: url('../fonts/georgiab.eot');
	src: local('☺'), url('../fonts/georgiab.woff') format('woff'), url('../fonts/georgiab.ttf') format('truetype'),
		url('../fonts/georgiab.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$red: red solid 1px;
$blue: teal solid 2px;

$white: #ffffff;
$green: #a7c353;
$grey: #666666;
$lightGrey: #999999;
$veryLightGrey: #d4d4d4;
$footerDarkGrey: #2d2d2d;
$footerLightGrey: #383838;
$black: #000000;

html {
	font-size: 10px;
	background-color: $footerDarkGrey;
}

body {
	font-size: 1.3rem;
	line-height: 120%;
	font-family: georgia;
	color: $lightGrey;
}

a {
	color: #999999;
}

/* ============= header began ============ */

.header,
.main {
	max-width: 1200px;
	padding: 0 20px;
	background-color: $footerDarkGrey;
	margin: 0 auto;
}

.header__container {
	max-width: 1160px;
	background-color: $white;
	padding: 0 20px;
	border-top: $green solid 5px;
	display: flex;
}

.header__menu-button {
	display: none;
}

.logo {
	width: 30%;
	padding: 30px 0;
	color: $grey;
	.logo__description {
		font-size: 2.6rem;
		line-height: 60%;
		.logo__description--large {
			font-size: 3.2rem;
		}
	}
	.logo__slogan {
		font-size: 1.2rem;
		line-height: 150%;
		color: $lightGrey;
	}
}

.navigation {
	width: 70%;
	.navigation__list {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		&:first-child {
			padding-left: 20px;
		}
		.navigation__list-item {
			height: inherit;
		}
	}
}

.navigation__link {
	height: inherit;
	display: flex;
	align-items: center;
	padding: 0 20px;
	position: relative;
	&:hover {
		transform: translate(0, 3px);
		font-size: 1.5rem;
		color: $grey;
		transition-duration: 0.2s;
	}
}

.navigation__link--active {
	color: $white;
	background-color: $green;
	&:hover {
		transform: none;
		font-size: 1.3rem;
		color: $white;
	}
}

/* ============= header ended ================= */

/* ============ main began =============*/

.main__container {
	max-width: 1160px;
	background-color: $white;
	padding: 0 20px;
}

/* ======= main > slider ====== */

.slider {
	position: relative;
	max-width: 1120px;
	border-top: $green solid 1px;
	padding-bottom: 40px;
	&__header {
		font-size: 2.2rem;
		font-family: 'georgia italic';
		padding: 45px 105px;
		text-align: center;
		line-height: 150%;
		color: $grey;
	}
}

.slider__kaleidoscope {
	max-width: 920px;
	margin: 0 auto;
	position: relative;
}

/* ================ main > slider > arrows ================= */

.slick-arrow {
	z-index: 1;
	&:hover {
		background-color: rgba($color: #000000, $alpha: 0.7);
	}
}

.slick-next,
.slick-prev {
	background-color: $black;
	border: $green solid 2px;
	border-radius: 50%;
	width: 52px;
	height: 52px;
	position: absolute;
	right: 1%;
	&::before {
		content: url('../images/rightArrow.png');
	}
}

.slick-prev {
	position: absolute;
	left: 1%;
	&::before {
		content: url('../images/leftArrow.png');
	}
}

/* ============== main > slider > dots ============== */

.slick-dots li.slick-active {
	button::before {
		color: $white;
	}
}

.slick-dots li {
	background-color: $green;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	margin: 0 2.5px;
	button {
		width: 16px;
		height: 16px;
		&::before {
			color: inherit;
			font-size: 12px;
			width: 100%;
			transform: translateY(-1px);
		}
	}
}

/* ================== main > slider > text ================= */

.slider__container {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	position: absolute;
	right: 16%;
	bottom: 85px;
	.slider__text {
		width: 350px;
		background-color: $white;
		padding: 15px 15px 10px 15px;
	}
	.slider__text--different {
		padding: 10px 20px;
		background-color: $green;
		color: $white;
		font-size: 22px;
		text-align: center;
		margin-bottom: 10px;
	}
}

.service {
	padding: 40px 0;
	border-top: #e2e2e2 solid 1px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	.service__blocks {
		max-width: 280px;
		margin-right: 20px;
		.service__headers {
			font-size: 2.2rem;
			color: $grey;
			padding-bottom: 30px;
		}
		.read-more {
			color: $green;
			text-align: right;
			display: block;
			&:hover {
				font-size: 110%;
				transition-duration: 0.3s;
			}
		}
	}
	.service__blocks:last-of-type {
		margin-right: 0;
	}
}

.our-service {
	.fa-bed,
	.fa-first-aid,
	.fa-hiking,
	.fa-shuttle-van {
		font-size: 64px;
		color: #a5c134;
		margin: 0 20px 10px 0;
		min-width: 64px;
	}
}

/* ============ main > service =========== */

.service {
	.our-service {
		flex-shrink: 1;
	}

	.about-us {
		flex-shrink: 2;
	}

	.feedback {
		flex-shrink: 2;
	}
}

/* ============ main > about us =========== */

.about-us {
	* {
		padding-bottom: 25px;
	}
	&__img {
		margin-bottom: 25px;
		padding: 4px;
		border: #e2e2e2 solid 1px;
	}
}

/* =============== our service ============= */

.our-service__item {
	display: flex;
	padding-bottom: 20px;
	.our-service__container {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		.our-service__header {
			font-size: 1.4rem;
			font-family: 'georgia bold';
		}
	}
}

.our-service__item:last-of-type {
	padding-bottom: 0;
}

/* =================== feedback ==================== */

.feedback {
	.feedback__article-header {
		font-size: 1.6rem;
		font-family: 'georgia bold';
		padding: 20px 0 20px 65px;
		position: relative;
		&::before {
			content: "“";
			font-size: 12rem;
			position: absolute;
			top: 46px;
			color: $veryLightGrey;
			left: 0;
		}
		.feedback__occupation {
			font-family: georgia;
		}
	}
	.feedback__read-more {
		padding-top: 10px;
	}
}

/* ================ main ended ================= */

/* ================ footer started ============= */

.footer {
	max-width: 1200px;
	margin: 0 auto;
	background-color: $footerDarkGrey;
	padding: 40px 20px 20px 20px;
	font-size: 1.2rem;
	color: $lightGrey;
	&__header {
		color: $white;
		font-size: 1.6rem;
		padding-bottom: 15px;
		border-bottom: #3a3a3a solid 1px;
	}
}

.info {
	display: flex;
	justify-content: space-around;
	padding-bottom: 30px;
	&__blocks {
		max-width: 275px;
	}
}

/* ================= footer > details ========== */

.details__text {
	padding: 20px 0;
	.details__email {
		color: $green;
	}
	.details__work-hours {
		font-family: 'georgia bold';
	}
}

.details__text:nth-child(3) {
	padding-top: 0;
}

.details__text:nth-child(4) {
	padding: 0;
}

/* ============== footer > social ============ */

.social__mcr-container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 15px 0 5px;
	border-bottom: #3a3a3a solid 1px;
	.social__link {
		padding-left: 10px;
		color: $green;
		&:hover {
			color: $white;
			text-shadow: 0.25px 0.25px 0 #b2b2b2;
			transition-duration: 0.2s;
		}
	}
	.social__img-container {
		display: inline-block;
		width: 32px;
		height: 32px;
		background-color: #353535;
		border-radius: 50%;
		.social__img {
			margin: 8px 8px;
		}
	}
}

/* ============== footer > blog ============ */

.blog__container {
	.blog__article-title {
		padding: 15px 0 5px;
		font-family: 'georgia bold';
		font-size: 1.3rem;
	}
	.blog__author {
		padding-bottom: 10px;
		font-size: 1.1rem;
	}
	.blog__text {
		padding-bottom: 15px;
	}
	.blog__link {
		text-align: right;
		color: $green;
		display: block;
		&:hover {
			font-size: 110%;
			transition-duration: 0.3s;
		}
	}
}

/* ============ footer contact =========== */

.contact__form {
	.contact__text {
		display: flex;
		min-width: 275px;
		background-color: $footerLightGrey;
		font-size: 1.3rem;
		padding: 10px 0 10px 20px;
		margin: 15px 0 10px;
		border-radius: 4px;
		color: $white;
		&:hover {
			background-color: #474747;
		}
	}
	.contact__text:nth-child(2) {
		margin: 0 0 10px;
	}
	.contact__text:nth-child(3) {
		margin: 0 0 10px;
		padding-bottom: 90px;
	}
	.contact__button {
		color: $footerDarkGrey;
		background-color: $green;
		padding: 10px 10px;
		font-family: 'georgia bold';
		font-size: 1.3rem;
		border-radius: 4px;
		&:hover {
			font-size: 1.4rem;
			padding: 12px 30px;
			transition-duration: 0.4s;
			overflow: hidden;
		}
	}
}

/*  ============= footer copyright ============ */

.copyright {
	padding-top: 20px;
	border-top: #3a3a3a solid 1px;
	display: flex;
	justify-content: space-between;
}

/* ================== ended footer =============== */

/* ================ media quaries ============= */

/*  ==================== header ================== */

@media (max-width: 920px) {
	.navigation {
		display: none;
	}

	.header__menu-button {
		display: block;
		height: 40px;
		width: 48px;
		border-top: $green solid 5px;
		border-bottom: $green solid 5px;
		background-color: transparent;
		position: relative;
		margin: 25px 20px 0 0;
		transition-duration: 0.2s;
		&::before {
			content: '';
			width: 48px;
			height: 5px;
			background-color: $green;
			position: absolute;
			left: 0px;
			top: 13px;
			transition-duration: 0.5s;
		}
		&::after {
			content: '';
			width: 48px;
			height: 5px;
			background-color: $green;
			position: absolute;
			left: 0px;
			top: 13px;
			transition-duration: 0.3s;
		}
	}

	.header__menu-button--active {
		border: none;
		&::before {
			content: '';
			width: 48px;
			height: 5px;
			background-color: $green;
			position: absolute;
			left: 0px;
			top: 13px;
			transform: rotate(-45deg);
			transition-duration: 1s;
		}
		&::after {
			content: '';
			width: 48px;
			height: 5px;
			background-color: $green;
			position: absolute;
			left: 0px;
			top: 13px;
			transform: rotate(45deg);
			transition-duration: 0.5s;
		}
	}

	.header__container {
		justify-content: space-between;
	}

	.navigation--active-high {
		display: block;
		position: absolute;
		top: -350px;
		width: 100%;
		left: 0;
		transition-duration: 0.5s;
		transition-delay: 0.5s;
		.navigation__list {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			position: relative;
			z-index: 1;
			padding: 0;
			background-color: $green;
			&:first-child {
				padding-left: 0;
			}
			&-item {
				padding: 10px 0;
			}
		}
	}

	.navigation--active-low {
		top: 102px;
		transition-duration: 0.5s;
		transition-delay: 0.5s;
	}

	.navigation__link {
		color: $white;
		padding-bottom: 10px;
		padding-top: 10px;
		&:hover {
			border-bottom: $white solid 1px;
			border-top: $white solid 1px;
		}
	}

	.navigation__link--active {
		border-bottom: $white solid 1px;
		border-top: $white solid 1px;
	}
}

/* ================== h1 ================= */

@media (max-width: 650px) {
	.slider__header {
		padding: 30px 10px;
	}
}

/* ===================== slider ================ */

@media (max-width: 780px) {
	body {
		font-size: 1.6rem;
	}
	.slick-arrow::before {
		display: none;
	}
	.slick-next,
	.slick-prev {
		border: none;
		opacity: 0;
	}
	.slider__container {
		font-size: 1rem;
		.slider__text {
			padding: 5px 5px;
			max-width: 270px;
		}
		.slider__text--different {
			font-size: 1.8rem;
		}
	}
	.slider__img {
		object-position: -200px 0;
	}
	.service {
		flex-flow: row wrap;
		margin: 0 auto;
		.service__blocks {
			margin: 0 auto;
			max-width: 600px;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 20px;
			border-bottom: $lightGrey solid 1px;
			&:last-of-type {
				border-bottom: none;
			}
		}
	}
	.about-us__img {
		transform: scale(1.4);
	}
	.about-us__text:first-of-type {
		padding-top: 40px;
	}
}

/* ================ service ================== */

@media (max-width: 980px) {
	.about-us__img {
		max-width: 200px;
		margin: 0;
	}
	/* ================ footer ================== */
	.info {
		flex-flow: row wrap;
		justify-content: space-evenly;
		&__blocks {
			width: 50%;
		}
	}
}

@media (max-width: 680px) {
	.info {
		font-size: 1.6rem;
		flex-flow: column nowrap;
		align-items: center;
		width: 100%;
		&__blocks {
			width: 100%;
			padding-top: 40px;
			padding-bottom: 10px;
			border-bottom: $green solid 1px;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
		}
	}

	.contact {
		border-bottom: none;
	}

	.slider__container {
		display: none;
	}

	.main,
	.footer,
	.header {
		padding-left: 0;
		padding-right: 0;
	}

	.copyright {
		padding-left: 10px;
		padding-right: 10px;
	}
}
